parameters:
    level: 9
    paths:
        - bin/
        - config/
        - migrations/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
